@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap: 16px;
  --content-gap: 8px;
  --nav-width: 1280px;
  --main-width: 1280px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --gray: #ddd;
  --card-bg: #eeeeee;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  font-size: 20pt;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toppings {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.toppings li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toppings li * {
  width: 100px;
}

.order-container {
  width: 300px;
  padding-left: %50;
  padding-right: %50;
  /* background-color: var(--gray); */
}
.order_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
}
.order_type {
  border-radius: 2px;
  background-color: var(--card-bg);
}
.order_type img {
  padding: 4px;
}
.order_button {
  background-color: var(--gray);
  border-radius: 6px;
  padding-left: 4px;
  color: #555;
  line-height: 1em;
}
.overlay {
  z-index: 98;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  z-index: 99;
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 100%;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: -24px;
  right: 0;
  padding: 5px;
  border: 0;
  -webkit-appearance: none;
  background: none;
  color: white;
  cursor: pointer;
}

.modal-body {
  padding: 20px 24px;
  border-radius: 4px;
  background-color: white;
}
.code {
  font-size: 0.6rem;
}
pre {
  display: block;
}
