.gitattributes !filter !diff
client/firebase.json filter=git-crypt diff=git-crypt
client/.firebase/** filter=git-crypt diff=git-crypt
client/.firebaserc filter=git-crypt diff=git-crypt
./priv/ filter=git-crypt diff=git-crypt
